* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
    width: 90px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  .container-about {
    display: flex;
    justify-content: space-between;
    background-color: #bdbad1;
  }
  
  .content {
    width: 70%;
  }
  
  .image {
    width: 30%;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 10px;
  }
  h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    color: #131212;
    margin-bottom: 50px;
  }
  
  p {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #1b1a1a;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .jumbotron {
    background-image: url("path_to_your_background_image.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 50px;
    color: #fff;
  }
  
  .jumbotron h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .jumbotron p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    border-radius: 4px;
  }
  footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container p {
    font-size: 14px;
    margin: 0;
    color: white;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .project {
    width: 300px;
    margin: 20px;
    text-align: center;
  }
  
  .project img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .project h3 {
    margin: 10px 0;
  }  